################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SQL_CosmosDB_Hybrid/FileContentIndex/62c495b5-6de6-4dd6-92c4-cda2781a47f5.vsidx
